body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
* {
    box-sizing: border-box;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

#container {
    overflow: hidden;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
i{
    color: gold;
}
#header {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: rgba(0,0,0,0.8);
    z-index: 20;
}
#header h1 {
    font-family: 'press_start_2pregular';
    text-transform: uppercase;
    margin: 0px;
}
#header h1 a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
@media (max-width: 480px) {
    #header h1 {
        font-size: 24px;
    }
}

#main-navigation ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
}
#main-navigation ul li {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 25px 10px;
    margin: 0px 7px;
}
#main-navigation ul li a {
    color: #CCC;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}
#main-navigation ul li a:after {
    content: "";
    position: absolute;
    border: 1px solid #fff;
    width: 20%;
    bottom: -10px;
    left: 25%;
    transition: 0.5s;
    opacity: 0;
}
#main-navigation ul li:hover a:after {
    width: 80%;
    left: 10%;
    opacity: 1;
}
#main-navigation .dropdown {
    position: absolute;
    text-align: center;
    top: 70px;
    padding: 20px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    transform: scale(1,0);
    transition: 1s;
    transform-origin: top;
}
#main-navigation .dropdown ul {
    column-count: 3;
    column-gap: 10px;
}
#main-navigation .dropdown ul li {
    padding: 0px;
    margin: 0px 0px 20px;
    display: block;
}
#main-navigation .row {
    justify-content: center;
}
#main-navigation ul li:hover .dropdown {
    transform: scale(1,1);
    opacity: 1;
}

.menu-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 20px;
    top: 25px;
    z-index: 1000;
    pointer-events: none;
}
.menu-btn .line {
    display: block;
    width: 25px;
    border: 2px solid #fff;
    margin-bottom: 2px;
    transition: 1s;
}
input[value="open_nav"] {
    position: absolute;
    right: 20px;
    top: 25px;
    height: 20px;
    width: 25px;
    opacity: 0;
    cursor: pointer;
}


@media(max-width: 1200px){
    #main-navigation ul li {
        padding: 25px 3px;
        margin: 0px 3px;
    }
}

@media (min-width: 993px) {
    .menu-btn {
        display: none;
    }
}
@media (max-width: 992px) {
    .menu-btn {
        display: block;
    }
    #main-navigation ul {
        /*display: none;*/
        transform: scale(1,0);
        opacity: 0;
        transition: 1s;
        transform-origin: top;
        position: absolute;
        width: 100%;
        background-color: rgba(0,0,0,0.8);
        left: 0px;
        top: 75px;
        text-align: center;
    }
    #main-navigation ul li {
        display: block;
        font-size: 20px;
        padding: 10px 0px;
    }
    #main-navigation ul li a {
        color: #fff;
    }
    input[value="open_nav"]:checked ~ ul {
        transform: scale(1,1) !important;
        opacity: 1 !important;
    }
    input[value="open_nav"]:checked ~ .menu-btn .line:nth-child(2){
        opacity: 0;
    }
    input[value="open_nav"]:checked ~ .menu-btn .line:first-child{
        transform: rotate(45deg);
    }
    input[value="open_nav"]:checked ~ .menu-btn .line:last-child{
        transform: rotate(-45deg);
        margin-top: -12px;
    }
}


#banner {
    height: 650px;
    background-size: 100% 100%;
    animation: slider 20s infinite linear;
}
@keyframes slider {
    0% {
        background-image: url("../images/slide-1.jpg");
    }
    20% {
        background-image: url("../images/slide-2.jpg");
    }
    40% {
        background-image: url("../images/slide-3.jpg");
    }
    60% {
        background-image: url("../images/slide-4.jpg");
    }
    80% {
        background-image: url("../images/slide-5.jpg");
    }
    100% {
        background-image: url("../images/slide-1.jpg");
    }
}

.row {
    display: flex;
}
#content {
    background-attachment: fixed;
    background-image: url("https://p.w3layouts.com/demos_new/10-02-2017/game_robo-demo_Free/690444103/web/images/tabs-bg.jpg");
    background-size: 100% 100%;
}
#section_1 {
    padding: 50px 15px;
}
#section_1 .description h2 {
    font-size: 35px;
    line-height: 39px;
    font-weight: normal;
    color: #fff;
}
#section_1 .description p {
    font-size: 16px;
    line-height: 30px;
    color: #777;
}
#section_1 .column {
    width: 48%;
    margin-right: 10px;
}
#section_1 .column img {
    width: 100%;
}

@media (max-width: 992px) {
    #section_1 .row {
        display: block;
    }
    #section_1 .column {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
}

#section_2 h2{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
}
#section_2 .row {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    margin-bottom: 50px;
}
#section_2 .column {
    width: 25%;
    position: relative;
    overflow: hidden;
}
#section_2 .column img {
    width: 100%;
}
#section_2 .icon {
    width: 30%;
    left: 100%;
    position: absolute;
    top: 0%;
    opacity: 0;
    transition: 1s;
    z-index: 20;
}
#section_2 .icon h3 {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
#section_2 .column:hover .icon {
    left: 30%;
    opacity: 1;
    transition-delay: 1s;
}
#section_2 .column:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    top: -100%;
    transition: 1s;
}
#section_2 .column:hover:after {
    top: 0%;
    opacity: 1;
    transform: rotate(360deg);
}

@media (max-width: 992px) {
    #section_2 .row {
        flex-wrap: wrap;
    }
    #section_2 .column {
        width: 50%;
    }
}
@media (max-width: 480px) {
    #section_2 .row {
        display: block;
    }
    #section_2 .column {
        width: 100%;
        min-height: 150px;
    }
}
#section_3 {
    overflow: hidden;
    text-align: center;
    position: relative;
    min-height: 550px;
}
#section_3 h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
}
#section_3 .slider {
    width: 200%;
    position: absolute;
    left: 0px;
    min-height: 400px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    animation: slider_2 20s infinite linear alternate;
}
@keyframes slider_2 {
    0% {
        left: 0%;
    }
    15% {
        left: 0%;}
    20% {
        left: -20%;
    }
    35%{left: -20%;}
    40% {
        left: -40%;
    }
    55% {left: -40%;}
    60% {
        left: -60%;
    }
    75%{left: -60%;}
    80% {
        left: -80%;
    }
    95% {left: -80%;
    }
    100% {
        left: -100%;
    }
}
#section_3 .slide {
    float: left;
    width: 10%;
    border-right: 1px solid #fff;
}
#section_3 .slide img {
    width: 100%;
    min-height: 300px;
}
#section_3 p, #section_3 h3, #section_3 a {
    color: #fff;
    text-decoration: none;
}
@media(max-width:992px){
#section_3{
    min-height: 700px;
}
#section_3 .slider {
    width: 500%;
    position: absolute;
    left: 0px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    animation: slider_2 20s infinite linear alternate;
}
@keyframes slider_2 {
    0% {
        left: 0%;
    }
    15% {
        left: 0%;}
    20% {
        left: -100%;
    }
    35%{left: -100%;}
    40% {
        left: -200%;
    }
    55% {left: -200%;}
    60% {
        left: -300%;
    }
    75%{left: -300%;}
    80% {
        left: -400%;
    }
    95% {left: -400%;
    }
    100% {
        left: -400%;
    }
}
#section_3 .slide {
    float: left;
    width: 10%;
    border-right: 1px solid #fff;
}
#section_3 p, #section_3 h3, #section_3 a {
    font-size: 28px;
}
}
#section_4{
    margin: 0 20px;
}
#section_4 h2{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
}
#section_4 .blogs{
    display: flex;
    justify-content: space-between;
}
#section_4 .blogs div{
    width: 22%;
    color: #949494;
    font-size: 20px;
}
#section_4 .blogs h4{
    color: #2A9067;
    margin: 2px;
}
#section_4 .blogs h5{
    color: whitesmoke;
    margin: 2px;
}
#section_4 .blogs img{
    width:100%;
}
#section_4 .blogs div:hover img{
    border: 4px solid white;
}
@media(max-width:992px){
#section_4 .blogs {
    display: block;
}
#section_4 .blogs div{
    width: 100%;
}
}
#section_5 h2{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
} 
#section_5 .portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
#section_5 .portfolio div {
    width: 33%;
}
#section_5 .portfolio div img{
    width: 100%;
}
#section_5 .portfolio div img:hover{
    filter: grayscale(100%);
}
#section_6 {
    background-image: url("https://p.w3layouts.com/demos_new/10-02-2017/game_robo-demo_Free/690444103/web/images/stats.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;
    position: relative;
    height: 500px;
}
#section_6 .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
#section_6 .inner-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}
#section_6 .stats {
    display: table-cell;
    vertical-align: middle;
}
#section_6 ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#section_6 ul li {
    display: inline-block;
    margin: 0px 40px;
}
#section_6 h4 {
    font-size: 30px;
    line-height: 34px;
    color: #fff;
}
#section_6 span {
    font-size: 20px;
    color: #fff;
}

@media (max-width: 767px) {
    #section_6 {
        height: auto;
    }
    #section_6 .wrapper {
        position: static;
    }
    #section_6 ul li {
        display: block;
    }
}
#section_7{
    display: flex;
    background-color: whitesmoke;
    position: relative;
}
#section_7 h1{
    font-size: 25px;
} 
#section_7 input[type='text']{
    position: absolute;
    height: 40px;
    width: 35%;
    left: 45%;
    top: 20px;
    color: white;
    background-color: black;
}
#section_7 input[type='submit']{
    position: absolute;
    height: 40px;
    left: 80%;
    top: 19px;
    background-color: gainsboro;
    color: black;
}
@media (max-width:767px){
  #section_7 h1{
    font-size: 15px;
} 
  #section_7 input[type='text']{
    position: absolute;
    height: 20px;
    width: 30%;
    left: 45%;
    top: 8px;
}
  #section_7 input[type='submit']{
    position: absolute;
    height: 20px;
    left: 70%;
    top: 8px;
}  
}
#section_8 {
    min-height: 250px;
}
#section_8 h1{
    text-align: center;
    color: white;
    font-size: 50px;
}
#section_8 input{
    margin: 10px;
    width: 50%;
    height: 35px;
    border: 1px solid blue;
    border-left: 8px solid blue;
} 
#section_8 .form{
    position: relative;
}
#section_8 .message{
    position: absolute;
    top: 0px;
    left: 15%;
    width: 80%;
}
#section_8 .message input{
    height: 150px;
}
#footer{
    position: relative;
}
#footer .list{
    display: flex;
    justify-content: space-around;
    top: 10px;
}
#footer ul{
    list-style: none;
    width: 24%;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}
#footer ul li{
    color: chartreuse;
    font-size: 18px;
}
#footer .social i{
    color: white;
    margin-right: 12px;
    font-size: 40px;
}
#footer a{
    color: white;
    text-decoration: none;
}
@media (max-width:992px){
    #footer a{
        font-size: 10px;
    }
    #footer .social i{
        font-size: 26px;
    }
    #footer ul li{
        font-size: 18px;
    }
}
@media (max-width:480px){
#footer a{
    font-size: 1px;
}
#footer a{
    display: block;
    font-size: 8px;
} 
}
#back{
    min-height:40px;
}
#back img{
    width: 40px;
}